<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="row" *ngIf="status==='buy'">
          <div class="col-md-6">
            <div class="images p-3">
              <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010__340.jpg"
                alt="assets/images/sample.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <strong>
                <h5 class="text-uppercase mt-1 px-2">{{book.tittle}}</h5>
              </strong>
              <div class="mt-1 mb-3 px-2"> <span class="text-uppercase text-muted brand">by {{book.author.name}}</span>
              </div>
              <p class="about"><strong class="px-2">Publisher:</strong> {{book.publisher}}</p>
              <p class="about"><strong class="px-2">Category:</strong> {{book.category}}</p>
              <p class="about"><strong class="px-2">Publish date:</strong> {{book.publishDate}}</p>
              <p class="about"><strong class="px-2">Price :</strong>{{ book.price | currency:"INR":"symbol" }}</p>
              <div class="cart mt-4 align-items-center" *ngIf="!book.purchased && key !=='author'"
                (click)="purchaseBook(book.id)"> <button class="btn btn-danger mr-2 px-3">BUY NOW</button> </div>
              <div class="cart mt-4 align-items-center" *ngIf="book.purchased || key==='author'"
                routerLink="/books/view/{{book.id}}"> <button class="btn btn-success mr-2 px-3">Open Book</button>
              </div>
              <div class="cart mt-4 align-items-center" *ngIf="key==='author'" routerLink="/savebook/{{book.id}}">
                <button class="btn btn-danger mr-2 px-4">Edit Book</button> </div>
            </div>
          </div>
          <div class=" p-2 px-4">
            <strong>About Author:</strong>
            <p>{{book.author.aboutAuthor}}</p>
          </div>
          <div class=" pb-3 px-4">
            <strong>Content:</strong>
            <p>{{book.content}}</p>
          </div>
        </div>
        <div *ngIf="status==='success'" class="text-center p-5">
          Sucessfully uploaded your book.
        </div>
        <div *ngIf="status==='fail'" class="text-center p-5">
          Failed to purchase the book.
        </div>
      </div>
    </div>
  </div>
</div>
