<div class="container-fluid my-5 " style="max-width: 500px;">
  <div class="card shadow p-5">
    <form #loginForm="ngForm" (ngSubmit)="f.form.valid" #f="ngForm">
      <h2 class="text-center">Login</h2>
      <div class="form-group mt-3">
        <label for="user_name">User Name:</label>
        <input type="text" class="form-control" ngModel id="username" name="username" ngModel placeholder="User Name" #username="ngModel" required>
      </div>
      <div class="alert alert-danger mb-3" role="alert" *ngIf="username.errors && f.submitted">
        user name is required!
      </div>
      <div class="form-group mt-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" ngModel id="password" ngModel name="password" placeholder="password" #password="ngModel" required minlength="6">
      </div>
      <div class="alert alert-danger mb-3" role="alert" *ngIf="password.errors && f.submitted">
        password length should be atleast 6 character
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-success text-center">Login</button>
      </div>
    </form>
  </div>
</div>
